<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ironsecurity.ironsecurity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/steelsecurity"
        android:label="SteelSecurity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PremierEtage"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Exterieur"
            android:screenOrientation="portrait"/>
        <activity android:name=".Garage"
            android:screenOrientation="portrait"/>
        <activity android:name=".Stat"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mosaique"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Salon"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camera"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateScenar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camera1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camera2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camera3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Camera4"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChoixScenar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Option"
            android:screenOrientation="portrait"/>
        <activity android:name=".Propos"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SteelSecurity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>