<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ironsecurity.ironsecurity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/steelsecurity"
        android:label="SteelSecurity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PremierEtage"></activity>
        <activity android:name=".Exterieur" />
        <activity android:name=".Garage" />
        <activity android:name=".Stat" />
        <activity android:name=".Mosaique" />
        <activity android:name=".Menu" />
        <activity android:name=".Activity2" />
        <activity android:name=".Activity3" />
        <activity android:name=".Salon" />
        <activity android:name=".Camera" />
        <activity android:name=".CreateScenar" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/SteelSecurity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>